body, html {
  background-color:rgb(39, 38, 38);
  color: white;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.todo-app {
  background-color: rgb(23, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 200px;
  margin: 20px;
  width: 400px;
  height: 800px;
}

.title {
  font-size: 80px;
  color: bisque;
  font-weight: bold;
}

.todo-input {
  color: bisque;
  border-radius: 100px;
  box-shadow: 0 0 100px;
  padding: 50px;
  margin: 10px;
  width: 300px;
  height: 60px;
}

button {
  background-color: bisque;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.todo-input input {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid bisque;
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa;
  font-size: italic;
}